In [1]:
mylist=[1,2,3]

In [2]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# functions

In [3]:
def name_function():
    print('hello')

In [5]:
name_function

In [6]:
name_function()

hello

In [8]:
help(name_function)

Help on function name_function in module __main__:

name_function()

In [9]:
def name_function():
    '''
    DOCSTRING: Information about the function
    INPUT: no input...
    OUTPUT: HELLO..
    '''
    print('hello')

In [10]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Information about the function
    INPUT: no input...
    OUTPUT: HELLO..

In [26]:
def say_hello(name):
    print('hello '+name)

In [27]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [28]:
say_hello('nani')

hello nani

In [30]:
def say_hello(name='NAME'):
    print('hello '+name)

In [31]:
say_hello()

hello NAME

In [33]:
say_hello('nani')

hello nani

In [34]:
result=say_hello('nani')

hello nani

In [35]:
result

In [36]:
type(result)

NoneType

In [37]:
def add(a1,a2):
    return a1+a2

In [39]:
result =add(2,5)

In [40]:
result

7

In [52]:
def dogcheck(mystring):
    if 'dog' in mystring:
        return 'ture'
    else:
        return 'false'

In [53]:
dogcheck('my dog is very hungry ')

'ture'

In [54]:
dogcheck('my Dog is very hungry ')

'false'

In [55]:
def dogcheck(mystring):
    if 'dog' in mystring.lower():
        return 'ture'
    else:
        return 'false'

In [59]:
dogcheck('my Dog is very hungry ')

True

In [58]:
def dogcheck(mystring):
    return 'dog' in mystring.lower()

In [60]:
dogcheck('my Dog is very hungry ')

True

In [61]:
'dog' in 'dog ran away'

True

In [62]:
'cat' in 'dog ran away with cat'

True

In [63]:
'cat' in 'dog ran away'

False

# pig latin

In [66]:
def piglatin(word):
    
    firstletter = word[0]
    
    if firstletter in 'aeiou':
        pigword = word+'ay'
    else:
        pigword = word[1:]+firstletter+'ay'
        
    return pigword

In [68]:
piglatin('dheeraj')

'heerajday'

In [69]:
piglatin('ajith')

'ajithay'

# *args and **kwargs

In [74]:
def myfunc(a,b,c,d=0,e=0):
    return sum((a,b,c,d,e))

In [75]:
myfunc(1,2,3)

6

In [76]:
myfunc(1,2)

TypeError: myfunc() missing 1 required positional argument: 'c'

In [77]:
myfunc(1,2,3,4,5,6)

TypeError: myfunc() takes from 3 to 5 positional arguments but 6 were given

In [83]:
def myfunc(*args):
    return sum(args)

In [84]:
myfunc(1,2,3,4,5,6,7,8)

36

In [85]:
def myfunc(*args):
    print(args)

In [86]:
myfunc(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [88]:
def myfunc(*args):
    for item in args:
        print(item)

In [89]:
myfunc(1,2,3,4)

1
2
3
4

In [93]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('i like {} fruit'.format(kwargs['fruit']))
    else:
        print('there is no fruit')

In [95]:
myfunc('apple')

TypeError: myfunc() takes 0 positional arguments but 1 was given

In [96]:
myfunc(fruit='apple')

i like apple fruit

In [98]:
myfunc(fruit='apple',veg='cabbage')

i like apple fruit

In [99]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('i like {} fruit'.format(kwargs['fruit']))
    else:
        print('there is no fruit')

In [100]:
myfunc(fruit='apple',veg='cabbage')

{'fruit': 'apple', 'veg': 'cabbage'}
i like apple fruit

In [103]:
def myfunc(*args,**kwargs):
    print('i would like {} {}'.format(args[0],kwargs['food']))

In [104]:
myfunc(1,2,3,4,food="chicken")

i would like 1 chicken

In [105]:
myfunc(1,2,3,4,food="chicken",fruit="banana")

i would like 1 chicken

In [106]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('i would like {} {}'.format(args[0],kwargs['food']))

In [107]:
myfunc(1,2,3,4,food="chicken",fruit="banana")

(1, 2, 3, 4)
{'food': 'chicken', 'fruit': 'banana'}
i would like 1 chicken

In [4]:
def myfunc(a,b):
    if a+b ==20:
        return True
    elif a ==20 or b ==20:
        return True
    else:
        return False

In [5]:
myfunc(5,10)

False

In [6]:
myfunc(10,10)

True

In [7]:
myfunc(20,1)

True

In [8]:
def myfunc(a,b):
    return a+b==20 or a==20 or b==20

In [9]:
myfunc(5,10)

False

In [10]:
myfunc(10,10)

True

In [14]:
def hey(name):
    firstletter = name[0]
    inbtw = name[1:3]
    fourthletter = name[4]
    rest = name[4:]
    
    return firstletter.upper()+inbtw+fourthletter.upper()+rest

In [16]:
hey('dheerajsurya')

'DheRrajsurya'

In [17]:
def masteryoda(text):
    wordlist = text.split()
    reverseword = wordlist[::-1]
    
    return reverseword

In [18]:
masteryoda("hey there i'm back")

['back', "i'm", 'there', 'hey']

In [19]:
mylist=["a","b","c"]

In [21]:
'_'.join(mylist)

'a_b_c'

In [22]:
' '.join(mylist)

'a b c'

In [23]:
''.join(mylist)

'abc'

In [24]:
def masteryoda(text):
    wordlist = text.split()
    reverseword = wordlist[::-1]
    
    return ' '.join(reverseword)

In [25]:
masteryoda("hey we are back")

'back are we hey'

In [28]:
def almostthere(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <=10)

In [29]:
almostthere(120)

False

In [30]:
almostthere(202)

True

In [36]:
def has33(a,b,c,d):
    return ( ints == 3,3)

In [37]:
has33(1,2,3,3)

NameError: name 'ints' is not defined

In [38]:
def has33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [40]:
has33([1,2,3,4,5])

False

In [42]:
has33([1,3,3,3])

True

In [44]:
def has33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [46]:
has33([1,2,3,4,5])

False

In [47]:
has33([1,3,3,3])

True

In [48]:
def paperdoll(text):
    result=''
    
    for char in text:
        result += char*3
    return result

In [50]:
paperdoll('dheeraj')

'dddhhheeeeeerrraaajjj'

In [57]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum ([a,b,c]) <= 31:
        return sum([a,b,c]) - 10
    else:
        return 'bust'

In [58]:
blackjack(1,2,3)

6

In [59]:
blackjack(9,9,13)

'bust'

In [60]:
blackjack(11,1,2)

14

In [62]:
blackjack(9,11,11)

21

In [66]:
def summer69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add= False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [67]:
summer69([1,2,3,4,5,6,7,8,9,10])

25

# lamda

In [68]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [76]:
def sq(num):
    return num**2

In [77]:
sq(4)

16

In [78]:
mynums = [1,2,3,4]

In [80]:
list(map(sq,mynums))

[1, 4, 9, 16]

In [81]:
for item in map(sq,mynums):
    print(item)

1
4
9
16

In [90]:
def smt(string):
    if len(string)%2 == 0:
        return 'even'
    else:
        return 'dude'

In [91]:
names=('dheeraj','nani','surya','hero')

In [92]:
list(map(smt,names))

['dude', 'even', 'dude', 'even']

In [93]:
def ay(nums):
    return nums%2 == 0

In [97]:
myay = [12,34,34,45,56,45,624,324,345,46,657,776,5432565,77,68,76877,67,67]

In [98]:
filter(ay,myay)

In [99]:
list(filter(ay,myay))

[12, 34, 34, 56, 624, 324, 46, 776, 68]

In [100]:
for n in filter(ay,myay):
    print(n)

12
34
34
56
624
324
46
776
68

In [103]:
lambda num:num **2

In [108]:
def sq(a):
    return a**2

In [109]:
sq(3)

9

In [110]:
sq=lambda a:a**2

In [111]:
sq(5)

25

In [112]:
list(map(lambda a:a**2,mynums))

[1, 4, 9, 16]

In [114]:
list(filter(lambda a:a%2==0,mynums))

[2, 4]

# nested statements