In [1]:
2+3

5

In [2]:
int(2)

2

In [3]:
type(2.7)

float

In [4]:
my_dogs=2

In [5]:
my_dogs

2

In [6]:
my_dogs=("jimmy","tommy")

In [7]:
my_dogs

('jimmy', 'tommy')

In [9]:
print("i'm dheeraj surya \n and i like guns")

i'm dheeraj surya
 and i like guns

In [10]:
print("i'm dheeraj surya \t and i like guns")

i'm dheeraj surya 	 and i like guns

In [33]:
mystring = ('abcdefghijkl')

In [34]:
mystring[2]

'c'

In [35]:
mystring[2:]

'cdefghijkl'

In [36]:
mystring[:2]

'ab'

In [37]:
mystring[2:6]

'cdef'

In [38]:
mystring[::]

'abcdefghijkl'

In [40]:
mystring[2:4:2]

'c'

In [41]:
mystring[::2]

'acegik'

In [42]:
mystring[::-1]

'lkjihgfedcba'

In [44]:
my_name="dheeraj"

In [46]:
print(my_name+"surya")

dheerajsurya

In [64]:
x = "dheeraj"

In [65]:
x.upper()

'DHEERAJ'

In [66]:
x

'dheeraj'

In [67]:
x.capitalize()

'Dheeraj'

In [63]:
x.casefold()

'x.capitalize()'

In [112]:
%%writefile myfile.txt
HEY hi 
hello
hi hi

Overwriting myfile.txt

In [113]:
myfile = open('myfile.txt')

In [114]:
pwd

'C:\\Users\\Ajith Surya'

In [115]:
myfile.read()

'HEY hi \nhello\nhi hi\n'

In [116]:
myfile.read()

''

In [117]:
myfile.seek(0)

0

In [118]:
myfile.read()

'HEY hi \nhello\nhi hi\n'

In [119]:
myfile.seek(0)

0

In [120]:
contents = myfile.read()

In [121]:
contents

'HEY hi \nhello\nhi hi\n'

In [122]:
myfile.seek(0)

0

In [123]:
myfile.readlines()

['HEY hi \n', 'hello\n', 'hi hi\n']

In [124]:
%%writefile mynewfile.txt
ONE ON ONE
TWO ON TWO
THREE ON THREE

Writing mynewfile.txt

In [125]:
with open('mynewfile.txt',mode='r') as f:
    print(f.read())

ONE ON ONE
TWO ON TWO
THREE ON THREE

In [126]:
with open('mynewfile.txt',mode='a') as f:
    f.write('FOUR ON FOUR')

In [127]:
with open('mynewfile.txt',mode='r') as f:
    print(f.read())

ONE ON ONE
TWO ON TWO
THREE ON THREE
FOUR ON FOUR

In [128]:
with open('dheeraj.txt',mode='w') as f:
    f.write('my name is dheeraj')

In [129]:
with open('dheeraj.txt',mode='r') as f:
    print(f.read())

my name is dheeraj

In [6]:
if 6>3:
    print('its true!')

its true!

In [10]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

I'm not hungry

In [11]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

FEED ME!

In [12]:
loc = "bank"

if loc == 'auto shop':
    print("cars are cool!")
else:
    print("i do not know much")

i do not know much

In [13]:
loc = "bank"

if loc == 'bank':
    print("cars are cool!")
else:
    print("i do not know much")

cars are cool!

In [15]:
loc = "bank"

if loc == 'auto shop':
    print("cars are cool!")
elif loc == 'bank':
    print("money is cool")
elif loc == 'store':
    print("wlcome to the store")
elif loc == 'home':
    print("sweet home")
else:
    print("i do not know much")

money is cool

In [16]:
loc = "home"

if loc == 'auto shop':
    print("cars are cool!")
elif loc == 'bank':
    print("money is cool")
elif loc == 'store':
    print("wlcome to the store")
elif loc == 'home':
    print("sweet home")
else:
    print("i do not know much")

sweet home

In [17]:
loc = "store"

if loc == 'auto shop':
    print("cars are cool!")
elif loc == 'bank':
    print("money is cool")
elif loc == 'store':
    print("wlcome to the store")
elif loc == 'home':
    print("sweet home")
else:
    print("i do not know much")

wlcome to the store

In [18]:
loc = "hey"

if loc == 'auto shop':
    print("cars are cool!")
elif loc == 'bank':
    print("money is cool")
elif loc == 'store':
    print("wlcome to the store")
elif loc == 'home':
    print("sweet home")
else:
    print("i do not know much")

i do not know much

# for loop

In [5]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [7]:
for dude in mylist:
    print('hi da')

hi da
hi da
hi da
hi da
hi da
hi da
hi da
hi da
hi da
hi da

In [9]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number:{num}')

odd number:1
2
odd number:3
4
odd number:5
6
odd number:7
8
odd number:9
10

In [10]:
for num in mylist:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [11]:
list_sum = 0

for num in mylist :
    list_sum = list_sum+num
    
print(list_sum)

55

In [12]:
list_sum = 0

for num in mylist :
    list_sum = list_sum+num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [13]:
mystring ="hello world"

for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [14]:


for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [15]:

for kjsdv in 'hello world':
    print(kjsdv)

h
e
l
l
o

w
o
r
l
d

In [16]:

for letter in 'hello world':
    print('hey!!!')

hey!!!
hey!!!
hey!!!
hey!!!
hey!!!
hey!!!
hey!!!
hey!!!
hey!!!
hey!!!
hey!!!

In [17]:
tup = (1,2,3,4)

for item in tup:
    print(item)

1
2
3
4

In [18]:
mylist = [(1,2),(3,4),(4,5),(5,6)]

In [19]:
len(mylist)

4

In [21]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(4, 5)
(5, 6)

In [22]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
4
5
5
6

In [23]:
for (a,b) in mylist:
    print(a)

1
3
4
5

In [24]:
for a,b in mylist:
    print(b)

2
4
5
6

In [25]:
 d = {'k1':1,'k2':2,'k3':3}

In [26]:
for item in d:
    print(d)

{'k1': 1, 'k2': 2, 'k3': 3}
{'k1': 1, 'k2': 2, 'k3': 3}
{'k1': 1, 'k2': 2, 'k3': 3}

In [27]:
for item in d:
    print(item)

k1
k2
k3

In [31]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [33]:
for key,value in d.items():
    print(value)

1
2
3

In [34]:
for a,b in d.items():
    print(b)

1
2
3

In [37]:
 d = {'k1':1,'k2':2,'k3':3}
    
for key,value in d.values():
    print(value)

TypeError: cannot unpack non-iterable int object

In [38]:
 d = {'k1':1,'k2':2,'k3':3}
    
for value in d.values():
    print(value)

1
2
3

In [1]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x = x + 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [2]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x = x + 1
else:
    print("x is not less than 5")

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x is not less than 5

In [3]:
x = 3

while x < 5:
    print(f'the current value of x is {x}')
    x = x + 1
else:
    print("x is not less than 5")

the current value of x is 3
the current value of x is 4
x is not less than 5

In [4]:
x = 5

while x < 5:
    print(f'the current value of x is {x}')
    x = x + 1
else:
    print("x is not less than 5")

x is not less than 5

In [5]:
x = [1,2,3]

for item in x:
    # comment
    
print('end of my script')

IndentationError: expected an indented block (<ipython-input-5-d873eedc5ad3>, line 6)

In [6]:
x = [1,2,3]

for item in x:
    # comment
    pass
    
print('end of my script')

end of my script

In [9]:
mystring = 'dheeraj'

In [10]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

d
h
e
e
r
j

In [11]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

d
h
e
e
r

In [12]:
x = 0
while x <5:
    print(x)
    x+=1

0
1
2
3
4

In [13]:
x = 0
while x <5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

In [ ]:
x = 0
while x <5:
    if x == 2:
        continue
    print(x)
    x+=1

# useful operators

In [2]:
mylist = [1,2,3]

In [3]:
for num in range(10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(2,10):
    print (num)

2
3
4
5
6
7
8
9

In [5]:
for num in range(0,10,3):
    print (num)

0
3
6
9

In [6]:
range(0,10,3)

range(0, 10, 3)

In [7]:
list(range(0,10,3))

[0, 3, 6, 9]

In [12]:
index_count = 0

for letter in 'abcde':
    print('at index{} the letter is {}'.format(index_count,letter))
    index_count+=1

at index0 the letter is a
at index1 the letter is b
at index2 the letter is c
at index3 the letter is d
at index4 the letter is e

In [13]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [14]:

word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [16]:

word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [17]:
mylist1 = [1,2,3]
mylist2= ['a','b','c']

In [18]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [19]:
'x' in [1,2,3]

False

In [20]:
'x' in ['x','y','z']

True

In [30]:
mylist=[10,20,30,40,100]

In [31]:
min(mylist)

10

In [23]:
max(mylist)

100

In [24]:
from random import shuffle

In [25]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [26]:
shuffle(mylist)

In [27]:
mylist

[9, 1, 8, 10, 5, 4, 2, 7, 3, 6]

In [28]:
input('who are you?')

who are you?i'm dheeraj

"i'm dheeraj"


#list comprehensions

In [36]:
mystring = 'surya'

In [37]:
mylist = []
    
for letter in mystring:
    mylist.append(letter)

In [38]:
mylist

['s', 'u', 'r', 'y', 'a']

In [40]:
mylist=[letter for letter in mystring]

In [41]:
mylist

['s', 'u', 'r', 'y', 'a']

In [42]:
mylist = [num for num in range(0,11)]

In [43]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
mylist = [num**2 for num in range(0,11)]

In [45]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [49]:
mylist

[0, 4, 16, 36, 64, 100]

In [52]:
cels = [0,10,20,30]

fah = [((9/5)*temp+32) for temp in cels]

In [53]:
fah

[32.0, 50.0, 68.0, 86.0]

In [56]:
fah = []

for temp in cels:
    fah.append(((9/5)*temp+32))

In [57]:
fah

[32.0, 50.0, 68.0, 86.0]

In [59]:
mylist = []

for x in[2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [60]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

statements assessment test

In [61]:
st = 'print only the words that start with s in this sentence'

In [62]:
for word in st.split():
    if word[0]=='s':
        print(word)

start
s
sentence

In [63]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [64]:
[x for x in range(0,50) if x%3 == 0]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [65]:
st = 'Print every word in this sentence that has an even number of letters'

In [70]:
for word in st.split():
    if len(word)%2 == 0:
        print(word +" is EVEN")

word is EVEN
in is EVEN
this is EVEN
sentence is EVEN
that is EVEN
an is EVEN
even is EVEN
number is EVEN
of is EVEN

In [84]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")
    elif num % 3 == 0:
        print("fizz")
    elif num % 5 == 0:
        print("buzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [83]:

for num in range(1,101):
    if num %3 == 0 and num %5 == 0:
        print("FizzBuzz")
    elif num %3 == 0:
        print("Fizz")
    elif num %5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [86]:
st = 'Create a list of the first letters of every word in this string'

In [87]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']